{{with .Params.projects}}
<div class="categories clearfix bottom-space">
  {{- range . -}}
    <div class="category{{with .class}} {{.}}{{end}}">
      {{- with .real -}}
        <div class="category-label">Réalisation</div>
        <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .scenario -}}
      <div class="category-label">Scénario</div>
      <div class="category-content">{{- $scenaristes := delimit . ", " -}}{{ $scenaristes }}</div>
      {{- end -}}
      {{- with .prod -}}
        <div class="category-label">Production</div>
        <div class="category-content">{{- $prods := delimit . ", " -}}{{ $prods }}</div>
      {{- end -}}
      {{- with .type -}}
      <div class="category-label">Type</div>
      <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .status -}}
        <div class="category-label">Statut</div>
        <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .diffusion -}}
        <div class="category-label">Diffusions</div>
        <div class="category-content">{{- $diffusions := delimit . "; " -}}{{ $diffusions }}</div>
      {{- end -}}
      {{- with .release -}}
        <div class="category-label">Sortie</div>
        <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .duree -}}
      <div class="category-label">Durée</div>
      <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .pitch -}}
        <div class="category-label">Pitch</div>
        <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .description -}}
        <div class="category-label">Description</div>
        <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}    
      {{- with .trailer -}}
        <div class="category-label">Bande annonce</div>
        <div class="category-content">{{- . | safeHTML -}}</div>
{{- end -}}

      {{- with .pressrelease -}}
      <div class="category-label">Dossier de presse</div>
      <div class="category-content"><a href="{{ .pressrelease | safeURL }}">télécharger</a></div>
    {{- end -}}    
    </div>
  {{- end -}}
</div>
{{- end -}}