{{- with .Params.shownews -}}
{{ $taxo := "news" }}
<div class="categories clearfix bottom-space">
    <div class="category">
        <div class="category-label">
            News
        </div>

        <div class="category-content">
            <ul>
            <!-- Ranges through pages in category "news" -->
            {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
            {{ range first 5 .Pages }}
                <li>
                    {{.Date.Format "02.01.2006"}} | <a href="news">{{.Title}}</a>
                </li>
            {{ end }}
            {{ end }}
            </ul>
        </div>
    </div>
</div>
{{- end -}}