{{with .Params.text_groups}}
<div class="categories clearfix bottom-space">
  {{- range . -}}
    <div class="category{{with .class}} {{.}}{{end}}">
      {{- with .name -}}
        <div class="category-label">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .namel -}}
        <div class="category-title">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .email -}}
        <div class="category-email" style="position:absolute;"><br><br>{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .description -}}
        <div class="category-content">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .portrait -}}
        <div class="category-portrait">{{- . | safeHTML -}}</div>
      {{- end -}}
      {{- with .bio -}}
        <div class="category-bio">{{- . | safeHTML -}}</div>
      {{- end -}}
    </div>
  {{- end -}}
</div>
{{- end -}}