@import "fonts";
@import "vars";
@import "reset";
@import "base";
@import "layout";

.nav-container,
.header {
  background: $hero-color;
}

.navbar {
  position: relative;
  z-index: 5;
  height: 7.1em;
  max-height: 7.1em;
  padding-top: 2em;
}

.logo {
  float: left;

  &:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    width: 0px;
  }

  img {
    vertical-align: middle;
    margin-top: -10px;
  }
}

.links {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: -2em;
  left: -2em;
  padding: 1em 0;
  background: $hero-color;
  text-align: center;
  -webkit-box-shadow: 0 5px 7px 0 $header-shadow-color;
  box-shadow: 0 5px 7px 0 $header-shadow-color;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;

  li {
    padding: 0.5em 0;
  }

  a {
    color: $group-text-color;
    font-size: 1.8em;
    font-weight: 600;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;

    &:hover {
      color: $text-color;
    }

    &.active {
      color: $text-color;
    }
  }
}

.main-description {
  position: relative;

  h1 {
    position: relative;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    z-index: 1;
  }

  img {
    position: absolute;
    bottom: 0;
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.category {
  margin-top: 3em;

  &.line {
    margin: 0;
  }

  &-label {
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.2em;
  }

  &-title {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-email {
    color: $group-text-color;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: lowercase;
  }

  &-content {
    color: $group-text-color;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0.2em;
  }

  &-bio {
    color: $group-text-color;
    font-size: 1.8em;
    font-weight: 600;
  }
}

.post h1, .post h2 {
  position: relative;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

.post .content {
  font-size: 1.85em;
  margin-bottom: 20px;
  text-align: justify;
}

.posts-list {
  position: relative;
  top: 0;
}

.posts-list .year {
  display: inline-block;
  font-size: 3em;
  font-weight: 700;
  color: rgb(50, 50, 50);
  left: 0px;
  padding-top: 0;
}

.posts-list .year::before {
  content: "";
  display: block;
  height: 1em;
}

.posts-list .date {
  font-size: 1.75em;
  font-weight: 500;
  color: #696969;
  left: 0px;
  padding-top: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

//361
@media only screen and (min-width: 22.5625em) {
  .main-description {
    h1 {
      font-size: 2.5em;
      padding-top: 1.5em;
      padding-bottom: 1.7em;
    }
  }

  .category {
    //margin-top: 5em;

    &-label {
      //margin-bottom: 1em;
    }

    &-title {
      //margin-bottom: 0;
    }
  }
}

//537
@media only screen and (min-width: 33.5625em) {
  .main-description {
    h1 {
      font-size: 5.2em;
    }
  }

  .post h1, .post h2 {
    font-size: 2.5em;
    padding-left: 111px;
  }

  .post .content {
    padding-left: 111px;
  }

  .posts-list {
    position: relative;
    padding-top: 10px;
  }

  .posts-list .year {
    font-size: 3em;
    font-weight: 700;
    width: 75px;
  }

  .posts-list .year::before {
    height: 0em;
  }

  .posts-list .date {
    display: inline-block;
    position: absolute;
    transform: translateY(5px);
    width: 130px;
  }
}

//741
@media only screen and (min-width: 46.3125em) {
  .links {
    visibility: visible;
    opacity: 1;
    position: static;
    float: right;
    width: auto;
    padding: 0;
    height: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      height: 100%;
      width: 0px;
    }

    li {
      display: inline-block;
      width: auto;
      margin-left: 4em;
      vertical-align: middle;
    }
  }

  .burger-holder {
    display: none;
  }

  .showBurger {
    .burger-holder {
      display: block;
    }

    .links {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      float: none;
      height: auto;
      padding: 1em 0;
      -webkit-box-shadow: 0 5px 7px 0 $header-shadow-color;
      box-shadow: 0 5px 7px 0 $header-shadow-color;

      &:before {
        display: none;
      }

      & > li {
        display: list-item;
        margin: 0;
      }
    }
  }

  .main-description {
    h1 {
      font-size: 5.4em;
      line-height: 1.1428;
      padding-top: 2.3148em;
      padding-bottom: 2.3148em;
    }
  }

  .category {
    width: 100%;
    float: left;

    & > div {
      float: left;
    }

    &-label {
      width: 20%;
      //margin-bottom: 0;
    }

    &-content {
      width: 80%;
      //margin-bottom: 0;
    }

    &-bio {
      width: 80%;
    }

    &-portrait {
      width: 20%;
    }
  }

  .projects {
    margin-top: 5em;
  }

  .portraits {
    margin-top: 5em;
  }
}

//936
@media only screen and (min-width: 58.5em) {
  .main-description {
    h1 {
      padding-bottom: 3.907em;
    }
  }

  .category {
    //margin-top: 7.5em;

    &-label {
      width: 20%;
    }

    &-content {
      width: 80%;
    }

    &-bio {
      width: 59%;
    }

    &-portrait {
      width: 41%;
    }
  }
}

//1170
@media only screen and (min-width: 73.125em) {
  .container {
    max-width: 117em;
    margin: 0 auto;
  }

  .showBurger .links {
    left: -100%;
    right: -100%;
  }
}

//Lists
ul, ol {
  margin-left: 20px;
  padding-left: 20px;
}

ul {
  list-style-type: "- ";
}

ol {
  list-style-type: decimal;
}

ul ul, ul ol, ol ol, ol ul {
  margin-left: 20px;
}

ul.news-items {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

// Hero Carousel Styles
// Carousel positioned absolutely at bottom of .main-description, like the original image
.hero-carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.carousel-slide {
  display: none;
  width: 100%;
  position: relative;

  &.active {
    display: block;
    animation: slideIn 0.6s ease-in-out;
  }

  &.exiting {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: slideOut 0.6s ease-in-out forwards;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    // Greyscale + very washed out/faded look to match original home-marmotte.png
    // High brightness + low contrast + reduced opacity creates the light grey effect
    filter: grayscale(100%) brightness(1.6) contrast(0.5);
    opacity: 0.6;
  }
}

// Vignette overlay element - positioned over the image
.carousel-vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  // Very strong radial gradient vignette - image should dissolve into background
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    rgba(241, 241, 241, 0.3) 30%,
    rgba(241, 241, 241, 0.6) 50%,
    rgba(241, 241, 241, 0.85) 70%,
    #f1f1f1 85%
  );
}

// Slide animations
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}