{{- define "main" -}}
{{ $taxo := "news" }}
{{ $newsPages := where .Site.RegularPages "Type" $taxo }}
<div class="main-container">
  {{- partial "navigation" . -}}
  <div class="container">
    <div class="padder">
      <div class="posts-list clearfix bottom-space">
        {{ range ($newsPages.ByDate.GroupByDate "2006") }}
        <div class="posts-list">
          <div class="year">{{ .Key }}</div>
          {{ range .Pages }}
          <div class="post">
              <div class="date">{{ .Date.Format "02.01.2006" }}</div>
              <h1>{{ .Title }}</h1>
              <div class="content">{{ .Content }}</div>
          </div>
          {{- end }}
        </div>
        {{- end }}
      </div>
        {{- partial "modules/footer" . -}}
    </div>
  </div>
</div>
{{- end -}}